@{
    ViewData["Title"] = "Ustawianie";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="">

   
    <h1>Ustawianie zakresu na @ViewBag.range</h1>

    @if (ViewBag.range <= 0)
    {
        <p>Nie podano prawidłowego zakresu.</p>
        <p>Górna granica zakresu musi być liczbą dodatnią.</p>
    }
    else {
        <p>Ustawiono zakres na: [0,@ViewBag.range]</p>
    }


</div>
