@{
    ViewData["Title"] = "Losowanie";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="">

   
    <h1>Losowanie liczby</h1>
    @if (ViewBag.values.Item1 <= 0){
        <p>Nie podano prawidłowego zakresu, z którego można losować liczby.</p>
        <p>Przejdź na stronę Set, aby ustawić prawidłowy zakres.</p>
    }
    else {
        <h3>Wylosowano liczbę z zakresu [0,@ViewBag.values.Item1]</h3>
        <p>(ta liczba to: @ViewBag.values.Item2)</p>
    }

</div>
