@{
    ViewData["Title"] = "Index";
}

<h1>welcome to the guessing game!</h1>
<p>please complete the following steps</p>
<ol>
    <li>
        Set the range of number to draw from by going to /Game/Set,[upper_limit]
    </li>
    <li>
        Draw a random number from range by going to /Game/Draw
    </li>
    <li>
        Guess two numbers and see if you were correct by going to /Game/Guess/[number1],[numnber2]
    </li>
</ol>
